version: '3.8'
services:
  postgres:
    image: postgres:14.4-alpine3.16
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    networks:
      identity_net:
        ipv4_address: 172.16.240.24
    volumes:
      - ./scripts/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    
  # backendapi:
  #   image: dapper-labs-interview-backendapi:latest
  #   command: sh './usr/dapper-labs-interview/backendapi-runner.sh'
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   container_name: dapper-labs-interview-backendapi
  #   tty: true
  #   ports:
  #     - '8080:8080'
  #   networks:
  #     app_net:
  #       ipv4_address: 172.16.238.2
  #   depends_on:
  #     - postgres


networks:
  identity_net:
    ipam:
      driver: default
      config:
        - subnet: "172.16.240.0/24"
