version: '3.8'
services:
  postgres:
    image: postgres:14.4-alpine3.16
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    networks:
      identity_net:
        ipv4_address: 172.16.240.24
    volumes:
      - ./scripts/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
networks:
  identity_net:
    ipam:
      driver: default
      config:
        - subnet: "172.16.240.0/24"
